<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.user.mapper.UserMapper">
    <resultMap id="UserMap" type="com.zlk.user.entity.User">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="name" column="name" javaType="java.lang.String"></result>
        <result property="password" column="password" javaType="java.lang.String"></result>
        <result property="age" column="age" javaType="java.lang.Integer"></result>
        <result property="sex" column="sex" javaType="java.lang.String"></result>
        <result property="tel" column="phone" javaType="java.lang.String"></result>
        <result property="point" column="point" javaType="java.lang.Integer"></result>
        <result property="createTime" column="createTime" javaType="java.util.Date"></result>
        <!--用户与用户角色1-多-->
        <association property="userRole" javaType="com.zlk.user.entity.UserRole">
            <result property="roleId" column="role_id" javaType="java.lang.Integer"></result>
            <result property="userId" column="user_id" javaType="java.lang.Integer"></result>
        <collection property="role" ofType="com.zlk.user.entity.Role">
            <id property="roleId" column="role_id" javaType="java.lang.Integer"></id>
            <result property="roleName" column="role_name" javaType="java.lang.String"></result>
            <result property="roleDesc" column="role_desc" javaType="java.lang.String"></result>
        </collection>
    </association>
    </resultMap>
    <select id="findUserRoleById" parameterType="int" resultMap="UserMap">
       select u.*,ur.role_id,r.role_name,r.role_desc from user u,user_role ur,role r
       where u.id = #{id} and u.id = ur.user_id and ur.role_id = r.role_id
    </select>
<select id="findUserAll" resultType="com.zlk.user.entity.User">
    SELECT * FROM USER
</select>
    <select id="findUserById" parameterType="int" resultType="com.zlk.user.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="findUserByName" parameterType="String" resultType="com.zlk.user.entity.User">
        select * from user where name=#{name}
    </select>
    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>
    <insert id="saveUser" parameterType="com.zlk.user.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name !=''">
                name,
            </if>
            <if test="password != null and password !=''">
                password,
            </if>
            <if test="age != null and age !=''">
                age,
            </if>
            <if test="sex != null and sex !=''">
                sex,
            </if>
            <if test="tel != null and tel !=''">
                tel,
            </if>
            <if test="point != null and point !=''">
                point,
            </if>
            <if test="createTime != null and createTime !=''">
                createTime,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name !=''">
                #{name},
            </if>
            <if test="password != null and password !=''">
                #{password},
            </if>
            <if test="age != null and age !=''">
               #{age},
            </if>
            <if test="sex != null and sex !=''">
                #{sex},
            </if>
            <if test="tel != null and tel !=''">
                #{tel},
            </if>
            <if test="point != null and point !=''">
                #{point},
            </if>
            <if test="createTime != null and createTime !=''">
                #{createTime},
            </if>
        </trim>
    </insert>
    <select id="findUserByTime" parameterType="java.util.Date" resultType="com.zlk.user.entity.User">
        select *from User
        <where>
            <if test="param1!=null and param1!=''">
                and createTime <![CDATA[>=]]>  #{param1}
            </if>
            <if test="param2!=null and param2!=''">
                 and createTime <![CDATA[<=]]>  #{param2}
            </if>
        </where>
    </select>
</mapper>